body{
  margin:0;
  background-image: url("https://www.marketingparaindustria.com.br/wp-content/uploads/2016/10/crescer-uma-empresa-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.login{
  width:300px;
  height:200px;
  background-color:#fff;
  position:absolute;
  left:50%;
  margin-left:-150px;
  bottom:30px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px #999;
  padding: 14px;

}
.login input[type=users],
.login input[type=password]{
  width:95%;
  height:32px;
  padding-left:7px;
  padding-right: 7px;
  outline:0;
  font-size:15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;

}
.warning{
  border: 2px;
  padding:10px;
  padding-top:5px;
  background-color:tomato;
  border-radius: 8px;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  width:94%;
  height:15px;
}
.entrar{
  width:100%;
  height:32px;
  border: 2px;
  padding:10px;
  background-color:CornflowerBlue;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 10px;
  color: white;
  padding-top: 5px;
}
