body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

[role="main"] {
  padding-top: 48px;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

#paint1 {
  background-color: #green;
  width:650px;
  border-radius: 2px;
}

#linha1 {
  width: 600px;
}

#linha2 {
  width: 600px;
}

#linha3 {
  width:600px;
}

#l1c1 {
  height: 150px;
  background-color: #ffff;
  width: 150px;
}

#l1c2 {
  height: 150px;
  background-color: #ffff;
  width: 200px;
}

#l1c3 {
  height: 150px;
  background-color:  #ebf742;
}

#l1c4 {
  height: 150px;
  background-color:  #ff3333;
}

#l1c5 {
  height: 150px;
  background-color:  #ff3333;
}

#l2c1 {
  height: 150px;
  background-color:  #ffff;
}

#l2c2 {
  height: 150px;
  background-color:  #ffff;
}

#l2c3 {
  height: 150px;
  background-color:   #4dff4d;
}

#l2c4 {
  height: 150px;
  background-color:  #ebf742;
}

#l2c5 {
  height: 150px;
  background-color:  #ff3333;
}

#l3c1 {
  height: 150px;
  background-color:  #white;
}

#l3c2 {
  height: 150px;
  background-color:  #white;
}

#l3c3 {
  height: 150px;
  background-color:  #4dff4d;
}

#l3c4 {
  height: 150px;
  background-color:  #4dff4d;
}

#l3c5 {
  height: 150px;
  background-color:  #ebf742;
}

#l3c5 {
  height: 150px;
  background-color:  #ff3333;
}

#paint2 {
  width:650px;
  border-radius: 2px;
}

#linha1p2 {
  width: 600px;
}

#linha2p2 {
  width: 600px;
}

#linha3p2 {
  width:600px;
}

#l1c1p2 {
  height: 150px;
  background-color: #ffff;
  width: 150px;
}

#l1c2p2 {
  height: 150px;
  background-color: #ffff;
  width: 200px;
}

#l1c3p2 {
  height: 150px;
  background-color:  #ebf742;
}

#l1c4p2 {
  height: 150px;
  background-color:  #ff3333;
}

#l1c5p2 {
  height: 150px;
  background-color:  #ff3333;
}

#l2c1p2 {
  height: 150px;
  background-color:  #ffff;
}

#l2c2p2 {
  height: 150px;
  background-color:  #ffff;
}

#l2c3p2 {
  height: 150px;
  background-color:   #4dff4d;
}

#l2c4p2 {
  height: 150px;
  background-color:  #ebf742;
}

#l2c5p2 {
  height: 150px;
  background-color:  #ff3333;
}

#l3c1p2 {
  height: 150px;
  background-color:  #white;
}

#l3c2p2 {
  height: 150px;
  background-color:  #white;
}

#l3c3p2 {
  height: 150px;
  background-color:  #4dff4d;
}

#l3c4p2 {
  height: 150px;
  background-color:  #4dff4d;
}

#l3c5p2 {
  height: 150px;
  background-color:  #ebf742;

}

#l3c5p2 {
  height: 150px;
  background-color:  #ff3333;
}
